.modal {
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 5% auto;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin: 5% auto;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: justify;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
textarea {
  resize: none;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: none;
}
#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(82, 82, 82, 0.4);
}

.contact_button {
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--background-primary-color);
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: var(--background-secondary-color);
  color: black;
}
.formData:nth-child(1) {
  display: none;
}
#close_modal {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
#close_modal img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .modal {
    width: auto;
    height: auto;
  }
}

@media (max-width: 600px) {
  .modal {
    width: auto;
    height: auto;
  }
}
