@import "./selectMenu.css";
@import "./lightbox.css";
@import "./typographie.css";
@import "./contactForm.css";
@import "./variable.css";

body {
  margin-right: 100px;
  margin-left: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.logo {
  height: 50px;
}

.photograph-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-2-secondary-color);
  height: 300px;
  margin-bottom: 50px;
}

main figure {
  margin: 0;
  width: 100%;
  height: 50vh;
}
figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
figcaption {
  display: flex;
  align-content: center;
}
figure figcaption img {
  height: auto;
  width: auto;
}

.photo_section figure button {
  border-radius: 5px;
  object-fit: fill;
  height: 90%;
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.photo_section figure img,
video {
  width: 100%;
  height: 100%;
}

.photo_section {
  display: grid;
  justify-content: space-between;
  gap: 70px;
  grid-template-columns: 1fr 1fr 1fr;
}

.photograph-header .price {
  text-align: center;
}
.photograph-header p {
  margin: 0%;
  padding: 0%;
}

.photograph-header article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  justify-content: space-around;
  width: 376px;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 1%;
}
aside p {
  display: flex;
  align-content: center;
}
aside p img {
  margin-left: 5px;
}
figcaption button {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background-color: white;
  border-style: none;
}
.likesarea {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.likesarea img {
  width: 100%;
  height: 100%;
}
.date {
  display: none;
}
#zone_trie {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
