@import "./typographie.css";
@import "./variable.css";

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  width: 170px;
}
.custom-select button {
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  width: 100%;
  font-size: var(--font-size-bouton);
  color: #fff;
  font-weight: bold;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #901c1c;
  border-radius: 5px 5px 5px 5px;
}

.select-arrow-active {
  border-radius: 5px 5px 0 0;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  /* position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #fff transparent transparent transparent; */
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  height: 0.45em;
  right: 15%;
  position: absolute;
  top: 40%;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  transform: rotate(135deg);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  /* border-color: transparent transparent #fff transparent;
  top: 7px; */
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  height: 0.45em;
  right: 15%;
  position: absolute;
  top: 45%;
  transform: rotate(-45deg);
  width: 0.45em;
}

/* style the items (options), including the selected item: */
.not-same-as-selected,
.select-selected {
  color: #fff;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: var(--font-size-bouton);
  font-weight: bold;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  padding-left: 15%;
}
.select-items button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  font-size: var(--font-size-bouton);
  color: #fff;
  font-weight: bold;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #901c1c;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0 0 5px 5px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.same-as-selected {
  display: none;
}

hr {
  color: #fff;
  width: 80%;
}
#trier {
  display: none;
}
