@import "./typographie.css";
@import "./variable.css";

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 20px 100px 100px 100px;
  padding-left: 3%;
  padding-right: 3%;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  justify-content: space-between;
  gap: 70px;
  grid-template-columns: auto auto auto;
  margin: 0 100px 100px 100px;
}

.photographer_section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer_section a {
  padding: 0%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}

.photographer_section article h2 {
  padding: 0%;
  margin: 0%;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.photographer_section p {
  margin: 0%;
  padding: 0%;
}
.photographer_section article section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
