@import "./typographie.css";
@import "./variable.css";

body {
  font-family: "DM Sans", sans-serif;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  justify-content: space-between;
  gap: 70px;
  grid-template-columns: auto auto auto;
}

.photographer_section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer_section a {
  padding: 0%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}

.photographer_section article h2 {
  padding: 0%;
  margin: 0%;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.photographer_section p {
  margin: 0%;
  padding: 0%;
}
.photographer_section article section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .photographer_section {
    grid-template-columns: auto auto;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .photographer_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
