@import "./typographie.css";
@import "./variable.css";

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 20px 100px 100px 100px;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  width: 100%;
  margin: 0 0 100px 0;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section a {
  text-decoration: none;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0%;
}

.photographer_section article h2 {
  width: 100%;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
}
.photographer_section .local {
  width: 100%;
  text-align: center;
}
.photographer_section .tagline {
  width: 100%;
  text-align: center;
}
.photographer_section .price {
  width: 100%;
  text-align: center;
}
.photographer_section p {
  margin: 0%;
  padding: 0%;
}
